<p class="announcement-text">The organizing committees of two co-located events, ICSTA'19 and <a class="body-link" target="_blank" href="https://icaeam.com/">ICAEAM'19</a>, have decided to allow registrants of either conference to attend sessions from both events. As a result, we encourage attendees to study the program for both conferences and attend the sessions which they may find relevant/interesting.<br>

For more information about the ICAEAM'19 Conference, please view the <a class="body-link" target="_blank" href="/ICSTA19_CFP_Flyer.pdf">Conference Flyer</a>.</p>
<br>